<nav class="navbar navbar-sm navbar-fixed-xl navbar-expand-lg navbar-white">
  <div class="navbar-inner shadow-md">
    <div class="container container-plus">


      <div class="navbar-intro justify-content-xl-start bgc-transparent pr-lg-3 w-auto">

        <button type="button" class="btn btn-burger burger-arrowed static collapsed ml-2 d-flex d-xl-none btn-h-white" data-toggle-mobile="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
          <span class="bars text-dark-tp5"></span>
        </button><!-- mobile sidebar toggler button -->

        <button type="button" class="btn btn-burger burger-compact align-self-center ml-2 d-none d-xl-flex btn-h-light-primary" data-toggle="sidebar" data-toggle-class="collapsed-h" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle sidebar">
          <span class="bars text-dark-tp5"></span>
        </button><!-- sidebar toggler button -->

        <a class="navbar-brand text-dark-l1 ml-lg-1" href="#">
          <i class="fa fa-leaf text-success"></i>
          <span>CVO</span>
          <span>App</span>
        </a><!-- /.navbar-brand -->

      </div><!-- /.navbar-intro -->


      <!-- breadcrumbs -->
      <!-- <div class="navbar-content d-none d-xl-flex">
        <ol class="breadcrumb pl-2 ml-3">
          <li class="breadcrumb-item"><a class="text-dark-l1" href="#">Mega</a></li>
          <li class="breadcrumb-item active text-dark-l4">Horizontal Menu</li>
        </ol>
      </div> -->


      <!-- <div class="navbar-content flex-grow-0 ml-auto">
        <button type="button" id="id-nav-post-btn" class="btn btn-sm px-2 btn-outline-grey btn-h-outline-green btn-h-text-grey btn-a-outline-green btn-bold btn-brc-tp mx-lg-2">
          <i class="fa fa-plus bgc-green radius-round w-3 h-3 text-center mr-lg-1 text-white pt-15 text-95"></i>
          <span class="d-none d-lg-inline">Manage Credentials</span>
        </button>
      </div> -->


      <!-- mobile #navbarMenu toggler button -->
      <button class="navbar-toggler ml-1 mr-2 px-1" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navbar menu">
        <span class="pos-rel">
            <img class="radius-3px mr-1 brc-grey-m2 border-1" width="36" src="assets/image/avatar/avatar6.jpg" alt="Jason's Photo">
            <span class="badge badge-dot bgc-orange-d1 position-tr mr-1px mt-n1"></span>
        </span>
      </button>


      <div class="navbar-menu collapse navbar-collapse navbar-backdrop" id="navbarMenu">

        <div class="navbar-nav">
          <ul class="nav nav-compact has-active-border">

            <li class="nav-item dropdown dropdown-mega">
              <a class="nav-link dropdown-toggle px-lg-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-bell text-110 icon-animated-bell mr-lg-2"></i>

                <span class="d-inline-block d-lg-none ml-2">Notifications</span><!-- show only on mobile -->
                <span class="d-none d-lg-block badge badge-dot bgc-danger position-tr mt-3 mr-35"></span>
                <span class="d-lg-none w-1 h-1 radius-round bgc-danger ml-2"></span>

                <i class="caret fa fa-angle-left d-block d-lg-none ml-auto"></i>
              </a>
              <div class="dropdown-menu dropdown-sm dropdown-animated p-0 bgc-white brc-primary-m3 border-b-2 shadow">
                <ul class="nav nav-tabs nav-tabs-simple w-100 nav-justified dropdown-clickable border-b-1 brc-secondary-l2" role="tablist">
                  <li class="nav-item">
                    <a class="d-style px-0 mx-0 py-3 nav-link active text-600 brc-blue-m1 text-dark-tp5 bgc-h-blue-l4" data-toggle="tab" href="#navbar-notif-tab-1" role="tab">
                      <span class="d-active text-blue-d1 text-105">Notifications</span>
                      <span class="d-n-active">Notifications</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="d-style px-0 mx-0 py-3 nav-link text-600 brc-purple-m1 text-dark-tp5 bgc-h-purple-l4" data-toggle="tab" href="#navbar-notif-tab-2" role="tab">
                      <span class="d-active text-purple-d1 text-105">Messages</span>
                      <span class="d-n-active">Messages</span>
                    </a>
                  </li>
                </ul><!-- .nav-tabs -->


                <div class="tab-content tab-sliding p-0">

                  <div class="tab-pane mh-none show active px-md-1 pt-1" id="navbar-notif-tab-1" role="tabpanel">

                    <a href="#" class="mb-0 border-0 list-group-item list-group-item-action btn-h-lighter-secondary">
                      <i class="fab fa-twitter bgc-blue-tp1 text-white text-110 mr-15 p-2 radius-1"></i>
                      <span class="text-muted">Followers</span>
                      <span class="float-right badge badge-danger radius-round text-80">- 4</span>
                    </a>
                    <a href="#" class="mb-0 border-0 list-group-item list-group-item-action btn-h-lighter-secondary">
                      <i class="fa fa-comment bgc-pink-tp1 text-white text-110 mr-15 p-2 radius-1"></i>
                      <span class="text-muted">New Comments</span>
                      <span class="float-right badge badge-info radius-round text-80">+12</span>
                    </a>
                    <a href="#" class="mb-0 border-0 list-group-item list-group-item-action btn-h-lighter-secondary">
                      <i class="fa fa-shopping-cart bgc-success-tp1 text-white text-110 mr-15 p-2 radius-1"></i>
                      <span class="text-muted">New Orders</span>
                      <span class="float-right badge badge-success radius-round text-80">+8</span>
                    </a>
                    <a href="#" class="mb-0 border-0 list-group-item list-group-item-action btn-h-lighter-secondary">
                      <i class="far fa-clock bgc-purple-tp1 text-white text-110 mr-15 p-2 radius-1"></i>
                      <span class="text-muted">Finished processing data!</span>
                    </a>

                    <hr class="mt-1 mb-1px brc-secondary-l2" />
                    <a href="#" class="mb-0 py-3 border-0 list-group-item text-blue text-uppercase text-center text-85 font-bolder">
                      See All Notifications
                      <i class="ml-2 fa fa-arrow-right text-muted"></i>
                    </a>

                  </div><!-- .tab-pane : notifications -->


                  <div class="tab-pane mh-none pl-md-2" id="navbar-notif-tab-2" role="tabpanel">
                    <div data-ace-scroll='{"ignore": "mobile", "height": 300, "smooth":true}'>
                      <a href="#" class="d-flex mb-0 border-0 list-group-item list-group-item-action btn-h-lighter-secondary">
                        <img alt="Alex's avatar" src="assets/image/avatar/avatar.png" width="48" class="align-self-start border-2 brc-primary-m3 p-1px mr-2 radius-round" />
                        <div>
                          <span class="text-primary-m1 font-bolder">Alex:</span>
                          <span class="text-grey text-90">Ciao sociis natoque penatibus et auctor ...</span>
                          <br />
                          <span class="text-grey-m1 text-85">
                                            <i class="far fa-clock"></i>
                                            a moment ago
                                        </span>
                        </div>
                      </a>
                      <hr class="my-1px brc-grey-l3" />
                      <a href="#" class="d-flex mb-0 border-0 list-group-item list-group-item-action btn-h-lighter-secondary">
                        <img alt="Susan's avatar" src="assets/image/avatar/avatar3.png" width="48" class="align-self-start border-2 brc-primary-m3 p-1px mr-2 radius-round" />
                        <div>
                          <span class="text-primary-m1 font-bolder">Susan:</span>
                          <span class="text-grey text-90">Vestibulum id ligula porta felis euismod ...</span>
                          <br />
                          <span class="text-grey-m1 text-85">
                                            <i class="far fa-clock"></i>
                                            20 minutes ago
                                        </span>
                        </div>
                      </a>
                      <hr class="my-1px brc-grey-l3" />
                      <a href="#" class="d-flex mb-0 border-0 list-group-item list-group-item-action btn-h-lighter-secondary">
                        <img alt="Bob's avatar" src="assets/image/avatar/avatar4.png" width="48" class="align-self-start border-2 brc-primary-m3 p-1px mr-2 radius-round" />
                        <div>
                          <span class="text-primary-m1 font-bolder">Bob:</span>
                          <span class="text-grey text-90">Nullam quis risus eget urna mollis ornare ...</span>
                          <br />
                          <span class="text-grey-m1 text-85">
                                            <i class="far fa-clock"></i>
                                            3:15 pm
                                        </span>
                        </div>
                      </a>
                      <hr class="my-1px brc-grey-l3" />
                      <a href="#" class="d-flex mb-0 border-0 list-group-item list-group-item-action btn-h-lighter-secondary">
                        <img alt="Kate's avatar" src="assets/image/avatar/avatar2.png" width="48" class="align-self-start border-2 brc-primary-m3 p-1px mr-2 radius-round" />
                        <div>
                          <span class="text-primary-m1 font-bolder">Kate:</span>
                          <span class="text-grey text-90">Ciao sociis natoque eget urna mollis ornare ...</span>
                          <br />
                          <span class="text-grey-m1 text-85">
                                            <i class="far fa-clock"></i>
                                            1:33 pm
                                        </span>
                        </div>
                      </a>
                      <hr class="my-1px brc-grey-l3" />
                      <a href="#" class="d-flex mb-0 border-0 list-group-item list-group-item-action btn-h-lighter-secondary">
                        <img alt="Fred's avatar" src="assets/image/avatar/avatar5.png" width="48" class="align-self-start border-2 brc-primary-m3 p-1px mr-2 radius-round" />
                        <div>
                          <span class="text-primary-m1 font-bolder">Fred:</span>
                          <span class="text-grey text-90">Vestibulum id penatibus et auctor  ...</span>
                          <br />
                          <span class="text-grey-m1 text-85">
                                            <i class="far fa-clock"></i>
                                            10:09 am
                                        </span>
                        </div>
                      </a>

                    </div><!-- ace-scroll -->

                    <hr class="my-1px brc-secondary-l2 border-double" />
                    <a href="page-inbox" class="mb-0 py-3 border-0 list-group-item text-purple text-uppercase text-center text-85 font-bolder">
                      See All Messages
                      <i class="ml-2 fa fa-arrow-right text-muted"></i>
                    </a>
                  </div><!-- .tab-pane : messages -->

                </div>
              </div>
            </li>


            <li class="nav-item">
              <a href="#" class="nav-link pl-lg-3 pr-lg-4 pos-rel">
                <i class="far fa-envelope text-110 icon-animated-vertical"></i>

                <span class="d-inline-block d-lg-none ml-2">Messages</span><!-- show only on mobile -->
                <span class="d-none d-lg-block text-600 text-orange-d3 text-85 position-tr mt-15 mr-2">+2</span>
                <span class="d-lg-none text-600 text-orange-d3 text-90 ml-2">(+2)</span>
              </a>
            </li>


            <li class="nav-item dropdown order-first order-lg-last dropdown-hover">
              <a class="nav-link dropdown-toggle px-lg-2 ml-lg-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img id="id-navbar-user-image" class="d-none d-lg-inline-block radius-3px mr-1 brc-grey-m2 border-1" src="assets/image/avatar/avatar6.jpg" height="42" alt="Jason's Photo">

                <span class="d-inline-block d-lg-none">Welcome, Jason</span><!-- show only on mobile -->

                <i class="caret fa fa-ellipsis-v d-none d-xl-block"></i>
                <i class="caret fa fa-angle-left d-block d-lg-none"></i>
              </a>

              <div class="dropdown-menu dropdown-caret dropdown-menu-right brc-primary-m3">
                <div class="d-none d-lg-block">
                  <div class="dropdown-header">
                    Welcome, Jason
                  </div>
                  <div class="dropdown-divider"></div>
                </div>

                <a class="dropdown-item btn btn-outline-grey btn-h-light-blue btn-a-light-primblueary" href="page-profile">
                  <i class="fa fa-user text-primary-m1 text-105 mr-1"></i>
                  Profile
                </a>

                <a class="dropdown-item btn btn-outline-grey btn-h-light-green btn-a-light-green" href="#" data-toggle="modal" data-target="#id-ace-settings-modal">
                  <i class="fa fa-cog text-success-m1 text-105 mr-1"></i>
                  Settings
                </a>

                <div class="dropdown-divider brc-secondary-l2"></div>

                <a class="dropdown-item btn btn-outline-grey btn-h-light-orange btn-a-light-orange" href="login">
                  <i class="fa fa-power-off text-orange-d2 text-105 mr-1"></i>
                  Logout
                </a>
              </div>
            </li><!-- /.nav-item:last -->

          </ul><!-- /.navbar-nav menu -->
        </div><!-- /.navbar-nav -->

      </div><!-- /.navbar-menu.navbar-collapse -->


    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</nav>
<div id="sidebar" class="sidebar sidebar-fixed sidebar-hover sidebar-h sidebar-white sidebar-top" data-swipe="true" data-backdrop="true" data-dismiss="true">
  <div class="sidebar-inner border-r-0 border-b-1 brc-secondary-l2 shadow-md">
    <div class="container container-plus px-0 d-flex flex-column flex-xl-row">

      <div class="flex-grow-1 d-xl-flex flex-xl-row ace-scroll" data-ace-scroll="{}">
        <!-- ace-scroll is not applied in desktop view, but it's used in mobile view -->
        <div class="sidebar-section">
          <div class="sidebar-section-item fadeable-below fadeable-center px-3">

            <div class="fadeinable sidebar-shortcuts-mini w-auto" role="button">
              <div>
                <div>
                  <span class="btn btn-success p-0"></span><span class="btn btn-info p-0"></span>
                </div>
                <div class="mt-n2">
                  <span class="btn btn-info p-0"></span><span class="btn btn-success p-0"></span>
                </div>
              </div>
            </div>

            <div class="fadeable flex-xl-column text-center">
              <div class="sub-arrow"></div>
              <div class="my-3">
                <button class="btn px-25 py-2 text-95 btn-outline-success border-b-2 radius-2">
                  <i class="fa fa-signal"></i>
                </button>

                <button class="btn px-25 py-2 text-95 btn-outline-info border-b-2 radius-2">
                  <i class="fa fa-edit"></i>
                </button>

                <button class="btn px-25 py-2 text-95 btn-outline-success border-b-2 radius-2">
                  <i class="fa fa-users"></i>
                </button>

                <button class="btn px-25 py-2 text-95 btn-outline-info border-b-2 radius-2">
                  <i class="fa fa-cogs"></i>
                </button>
              </div>

              <div class="d-flex align-items-center ml-3 ml-xl-0 my-3">
                <i class="fa fa-search mr-n3 text-info-m1"></i>
                <input type="text" class="sidebar-search-input pl-4 pr-3 mr-n2" maxlength="60" placeholder="Search ..." aria-label="Search" />
                <a href="#"><i class="fa fa-microphone text-muted ml-n1"></i></a>
              </div>
            </div>

          </div>
        </div>

        <ul class="nav nav-spaced nav-fill text-center nav-active-sm has-active-border active-on-top">


          <li class="nav-item active">

            <a href="Admin" class="nav-link">
              <i class="nav-icon fa fa-home"></i>
              <span class="nav-text fadeable">
                <span>Dashboard</span>
              </span>

            </a>

          </li>


          <li class="nav-item">

            <a href="#" class="nav-link ">
              <i class="nav-icon fa fa-tasks"></i>
              <span class="nav-text fadeable">
                <span>Track</span>
              </span>

              <!-- or you can use custom icons. first add `d-style` to 'A' -->
              <!--
                    <b class="caret d-n-collapsed fa fa-minus text-80"></b>
                    <b class="caret d-collapsed fa fa-plus text-80"></b>
                -->
            </a>

            <!-- 
            <div class="hideable submenu collapse show">
              
              <ul class="submenu-inner">

                <li class="nav-item">

                  <a href="html/dashboard-2.html" class="nav-link">

                    <span class="nav-text">
                            <span>Dashboard 2</span>
                    </span>


                  </a>


                </li>


                <li class="nav-item">

                  <a href="html/dashboard-3.html" class="nav-link">

                    <span class="nav-text">
                            <span>Dashboard 3</span>
                    </span>


                  </a>


                </li>


                <li class="nav-item">

                  <a href="html/dashboard-4.html" class="nav-link">

                    <span class="nav-text">
                            <span>Dashboard 4</span>
                    </span>


                  </a>


                </li>


              </ul>
            </div> 

            <b class="sub-arrow"></b> -->

          </li>


          <li class="nav-item">

            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-desktop"></i>
              <span class="nav-text fadeable">
                <span>Time and Expense</span>
              </span>

            </a>

          </li>


          <li class="nav-item">

            <a href="#" class="nav-link">
              <i class="nav-icon far fa-window-restore"></i>
              <span class="nav-text fadeable">
                <span>CME</span>
              </span>
            </a>

          </li>

        </ul>
      </div>

      <div class="sidebar-section d-none d-xl-flex ml-xl-auto pl-xl-4">
        <!-- the logout and settings button, only shown in desktop view -->
        <div class="sidebar-section-item fadeable-below fadeable-center">
          <div class="fadeinable w-auto">
            <a href="login" title="Logout" class="btn btn-outline-blue btn-brc-tp radius-3px py-2">
              <i class="fa fa-power-off text-140"></i>
            </a>
          </div>
        </div>

        <div class="sidebar-section-item fadeable-below fadeable-center ml-xl-1">
          <div class="fadeinable w-auto">
            <a href="#" title="Settings" class="btn btn-outline-warning btn-brc-tp radius-3px py-2" data-toggle="modal" data-target="#id-ace-settings-modal">
              <i class="fa fa-cog text-140"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="sidebar-section d-xl-none ml-xl-auto">
        <!-- sidebar footer, only show in mobile view -->
        <div class="sidebar-section-item fadeable-left fadeable-top">
          <div class="fadeinable">
            <button type="button" class="btn btn-primary btn-bold radius-1">
              <i class="fa fa-cloud"></i>
            </button>
          </div>

          <div id="sidebar-footer" class="fadeable text-center border-t-1 brc-secondary-l3 w-95">
            <div class="py-2">
              <button type="button" class="btn btn-primary px-5 btn-bold radius-1">
                Upgrade
              </button>
            </div>
          </div>
        </div>
      </div>

    </div><!-- .container -->
  </div><!-- .sidebar-inner -->
</div>

<div class="main-container">

  <div class="main-content" role="main" >
    <div class="page-content container container-plus px-md-4 px-xl-5">
      <div class="page-header mx-lg-n2 border-0 justify-content-start flex-wrap flex-md-nowrap">
        
        <div class="dropdown dd-backdrop dd-backdrop-none-md ">
          <a class="btn btn-light-blue btn-bgc-white btn-bold radius-2 px-2 btn-xs dropdown-toggle text-110" href="#" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
            CVO Health Master Demo
          </a>

          <div class="dropdown-menu shadow-sm dropdown-menu-right dropdown-caret dropdown-animated dd-slide-up dd-slide-none-md radius-1 brc-secondary-l1">
            <div class="dropdown-inner">
              <a class="dropdown-item btn btn-a-lighter-primary btn-a-bold mx-1" href="#">Add a Group</a>
              <a class="dropdown-item btn btn-a-lighter-primary btn-a-bold mx-1" href="#">Delete a Group</a>
            </div>
          </div>
        </div>


        <div class="ml-auto d-flex">
          <div class="text-right">
            <button class="btn btn-outline btn-light-blue btn-bold radius-2 px-3 btn-xs">
              <a class="d-none d-sm-inline" href="ManageCredentials">
                <span class="d-inline-block bgc-secondary-m3 shadow-sm h-4 px-2 pt-1 mr-15">
                <i class="fa fa-user-plus text-dark-tp5 text-110 mt-3px "></i>
                </span>
                <span>
                  ADD PROVIDER
                <!-- <span class="d-none d-sm-inline ">ADD </span>Provider -->
                </span>
              </a>
            </button>
          </div>

        </div>
      </div>





      <div class="row" id="infobox-row">
        <div class="col-12 col-sm-6 col-lg-3 my-1 my-lg-0 px-sm-1 px-lg-0">
          <div class="d-flex align-items-center bgc-green-d3 py-3" role="button">

            <div class="pos-rel p-3 bgc-white-tp8 radius-round ml-3 mr-3 shadow-md">
              <i class="pos-abs mt-n2px ml-n3px fa fa-dollar-sign text-dark-tp5 opacity-5 w-5 h-5 text-center pt-1 text-170"></i>
              <i class="pos-rel fa fa-dollar-sign text-white w-5 h-5 text-center pt-1 text-170"></i>
            </div>

            <div class="text-white">
              <div>
                <span class="text-160 text-600">$125,290</span>
                <i class="fa fa-arrow-up ml-2"></i>
              </div>
              <div class="text-uppercase text-85 text-600 letter-spacing">
                Revenue
              </div>
            </div>

          </div>
        </div>


        <div class="col-12 col-sm-6 col-lg-3 my-1 my-lg-0 px-sm-1 px-lg-0">
          <div class="d-flex align-items-center bgc-primary-d3 py-3 border-l-3 brc-white-tp2" role="button">

            <div class="pos-rel p-3 bgc-white-tp8 radius-round ml-3 mr-3 shadow-md">
              <i class="pos-abs mt-n1 ml-n1 fa fa-shopping-basket text-dark-tp5 opacity-5 w-5 h-5 text-center pt-1 text-170"></i>
              <i class="pos-rel fa fa-shopping-basket text-white w-5 h-5 text-center pt-1 text-170"></i>
            </div>

            <div class="text-white">
              <div>
                <span class="text-160 text-600">$23,500</span>
                <i class="fa fa-arrow-down ml-2"></i>
              </div>
              <div class="text-uppercase text-85 text-600 letter-spacing">
                Spendings
              </div>
            </div>

          </div>
        </div>


        <div class="col-12 col-sm-6 col-lg-3 my-1 my-lg-0 px-sm-1 px-lg-0">
          <div class="d-flex align-items-center bgc-purple-d2 py-3 border-l-3 brc-white-tp2" role="button">

            <div class="pos-rel p-3 bgc-white-tp8 radius-round ml-3 mr-3 shadow-md">
              <i class="pos-abs mt-n1 fa fa-clipboard text-dark-tp5 opacity-4 w-5 h-5 text-center pt-1 fa-2x"></i>
              <i class="pos-rel fa fa-check text-white w-5 h-5 text-center pt-1 text-170"></i>
            </div>

            <div class="text-white">
              <div>
                <span class="text-160 text-600">20</span>
                <i class="fa fa-plus text-white ml-1"></i>
              </div>
              <div class="text-uppercase text-85 text-600 letter-spacing">
                Completed Tasks
              </div>
            </div>

          </div>
        </div>


        <div class="col-12 col-sm-6 col-lg-3 my-1 my-lg-0 px-sm-1 px-lg-0">
          <div class="d-flex align-items-center bgc-default-d3 py-3 border-l-3 brc-white-tp2" role="button">

            <div class="pos-rel p-3 bgc-white-tp8 radius-round ml-3 mr-3 shadow-md">
              <i class="pos-abs mt-n2px ml-n3px fa fa-retweet text-dark-tp5 opacity-5 w-5 h-5 text-center pt-1 text-170"></i>
              <i class="pos-rel fa fa-retweet text-white w-5 h-5 text-center pt-1 text-170"></i>
            </div>

            <div class="text-white">
              <div>
                <span class="text-160 text-600">65%</span>
                <i class="fa fa-arrow-right text-white ml-2"></i>
              </div>
              <div class="text-uppercase text-85 text-600 letter-spacing">
                Conversion Rate
              </div>
            </div>

          </div>
        </div>
      </div>





      <div class="row mt-45">
        <div class="col-lg-12 col-12 pl-lg-0 pr-lg-2">
          <!-- we could use '.card' here as well -->
          <div class="bcard radius-2 h-100 d-flex flex-column py-35 px-2 px-lg-4 tableCard">
          <div class="d-flex mb-4">
          <div class="col-12 col-sm-3 mx-1 col-lg-7 my-1 my-lg-0 px-sm-1 px-lg-0">
          <h4 class="ml-1 tableTitle">
          Quick Stats
          </h4>
          </div>
          <div class="col-12 col-sm-2 mx-3 col-lg-2 my-1 my-lg-0 px-sm-1 px-lg-0">
          <div class="ml-2 d-flex">
          <!-- <div class="dropdown dd-backdrop dd-backdrop-none-md ml-auto" style="margin-top:5px">
          <a class="btn btn-light-blue btn-bgc-white btn-bold radius-2 px-3 btn-xs dropdown-toggle" href="#"
          role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true"
          aria-expanded="false" style=" background-color: #c6ddf7;
          border-color: #8db9ef;">
          Speciality
          </a>
          
          <div
          class="dropdown-menu shadow-sm dropdown-menu-right dropdown-caret dropdown-animated dd-slide-up dd-slide-none-md radius-1 brc-secondary-l1 specialityDropDown">
          <div class="dropdown-inner">
          <a class="dropdown-item active btn btn-a-lighter-primary btn-a-bold mx-1" href="#">This Week</a>
          <a class="dropdown-item btn btn-a-lighter-primary text-secondary mx-1" href="#">Gen Surgeon</a>
          <a class="dropdown-item btn btn-a-lighter-primary text-secondary mx-1" href="#">Dentist</a>
          <a class="dropdown-item btn btn-a-lighter-primary text-secondary mx-1"
          href="#">Dermatologist</a>
          <a class="dropdown-item btn btn-a-lighter-primary text-secondary mx-1" href="#">Orthopedics</a>
          <a class="dropdown-item btn btn-a-lighter-primary text-secondary mx-1" href="#">Psychiatrist</a>
          <a class="dropdown-item btn btn-a-lighter-primary text-secondary mx-1" href="#">Dentist</a>
          </div>
          </div>
          </div> -->
          <!-- <mat-form-field appearance="outline">
          <mat-label>Favorite food</mat-label>
          <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
          </mat-option>
          </mat-select>
          </mat-form-field> -->
          
          <div class="form-group w-100">
          <select class="form-control" id="exampleFormControlSelect1">
          <option>Speciality</option>
          <option>Dentist</option>
          <option>Gen Sergen</option>
          <option>Orthopedics</option>
          <option>Psychiatrist</option>
          </select>
          </div>
          </div>
          </div>
          <div class="col-12 col-sm-2 mx-2 col-lg-2 my-1 my-lg-0 px-sm-1 px-lg-0">
          <div class="ml-auto d-flex align-items-center">
          <i class="d-none d-lg-block fa fa-search text-white text-85 pos-rel"
          style="color: #2573b3 !important;"></i>
          <input type="text"
          class="navbar-input pl-45 pr-3 py-3 py-lg-2 ml-n3 ml-lg-n4 bgc-black-tp7 radius-round border-0 w-100 h-auto autofocus adminTableSearch"
          placeholder="SEARCH ..." aria-label="Search" style="background-color: white !important;
          border: 1px solid #2573b3 !important;
          /* color: #2573b3 !important;" />
          </div>
          </div>
          
          </div>
          
          <!-- Table For Physician View Material Table-->
          <!-- <div class="mat-elevation-z8 adminTable">
          <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort
          class="mat-elevation-z8 radius-2">
          
          
          <ng-container matColumnDef="isRowExanded">
          <th mat-header-cell *matHeaderCellDef class="expand-arrow" matSortDisabled>
          </th>
          <td mat-cell *matCellDef="let element" class="expand-arrow highlight-active-fee"
          [class.highlight-inactive-fee]="!element.IsActive" style="padding-left: 8px;">
          <a (click)="expandedElement = expandedElement === element ? null : element"
          class="material-icons fs-18 drop-icon"
          style="vertical-align: middle;text-decoration: none;cursor:pointer">
          {{element != expandedElement ?'keyboard_arrow_right': 'keyboard_arrow_up'}}
          </a>
          </td>
          </ng-container>
          
          <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-checkbox class="mr-4 " (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
          <mat-checkbox class="mr-4" (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
          </td>
          </ng-container>
          
          <ng-container matColumnDef="position">
          <th mat-header-cell class="text-center" *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
          
          
          <ng-container matColumnDef="name">
          <th mat-header-cell class="text-center" *matHeaderCellDef>
          Speciality </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          
          
          <ng-container matColumnDef="weight">
          <th mat-header-cell class="text-center" *matHeaderCellDef> Alerts </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>
          
          
          <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
          <td mat-cell *matCellDef="let element" class="justify-content-center">
          <mat-icon style="color: black;">email</mat-icon>
          <mat-icon style="color: green;">call</mat-icon>
          <mat-icon style="color: blue;">person</mat-icon>
          <mat-icon style="color: orange;">info</mat-icon>
          <mat-icon style="color: blue;">edit</mat-icon>
          <mat-icon style="color: red;">delete</mat-icon>
          </td>
          </ng-container>
          
          <ng-container matColumnDef="rowDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" class="p-0">
          <div class="grid-element-detail session-dropdown"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          expanded view
          </div>
          </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-row *matRowDef="let row; columns: ['rowDetail']" class="grid-detail-row"></tr>
          </table>
          </div> -->
          
          <!-- Material Table ends here -->
          
          <!-- Bootstrap Table -->
          <div class="mt-3 mt-lg-4">
          <div class="card bcard pt-1 pt-lg-2">
          <div class="card-header brc-primary-l3">
          <h5 class="card-title pl-1 text-120">
          Latest Members
          </h5>
          </div>
          
          
          <div class="card-body p-0 border-0">
          <div class="table-responsive-md">
          <table class="table table-striped-primary table-borderless border-0 mb-0">
          <thead>
          <tr class="text-center">
          <th>Profile</th>
          <th>Speciality</th>
          <th>Alerts</th>
          <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr></tr>
          <tr>
          <td class="text-secondary-d2 pl-2 pl-lg-4">
          <img alt="Bob Doe's avatar" src="assets/image/avatar/avatar1.jpg"
          class="radius-round border-2 p-2px brc-default-m1 mr-2 w-5 h-5" />
          Dr.Bob Doe
          </td>
          
          <td class="text-secondary text-85 font-bolder text-center">
          Gen Surgeon
          </td>
          
          <td class="text-grey-m1 text-85 text-center">
          London
          </td>
          
          <td class="text-85 text-center">
          <mat-icon style="color: black;">email</mat-icon>
          <mat-icon style="color: green;">call</mat-icon>
          <mat-icon style="color: blue;">person</mat-icon>
          <mat-icon style="color: orange;">info</mat-icon>
          <mat-icon style="color: blue;">edit</mat-icon>
          <mat-icon style="color: red;">delete</mat-icon>
          </td>
          
          </tr>
          
          <tr>
          <td class="text-secondary-d2 pl-2 pl-lg-4">
          <img alt="Maria Doe's avatar" src="assets/image/avatar/avatar4.jpg"
          class="radius-round border-2 p-2px brc-default-m1 mr-2 w-5 h-5" />
          Dr. Maria Doe
          </td>
          
          <td class="text-secondary text-85 font-bolder text-center align-middle">
          Dentist
          </td>
          
          <td class="text-grey-m1 text-85 text-center align-middle">
          London
          </td>
          
          
          <td class="text-85 text-center align-middle">
          <mat-icon style="color: black;">email</mat-icon>
          <mat-icon style="color: green;">call</mat-icon>
          <mat-icon style="color: blue;">person</mat-icon>
          <mat-icon style="color: orange;">info</mat-icon>
          <mat-icon style="color: blue;">edit</mat-icon>
          <mat-icon style="color: red;">delete</mat-icon>
          </td>
          </tr>
          
          <tr>
          <td class="text-secondary-d2 pl-2 pl-lg-4">
          <span
          class="d-inline-block text-center mr-2 pt-2 w-5 h-5 radius-round bgc-primary-l2 text-primary font-bolder text-90">
          <span>JS</span>
          </span>
          Dr. John Smith
          </td>
          
          <td class="text-secondary text-85 font-bolder text-center align-middle">
          Orthopedics
          </td>
          
          <td class="text-grey-m1 text-85 text-center align-middle">
          London
          </td>
          
          <td class="text-85 text-center align-middle">
          <mat-icon style="color: black;">email</mat-icon>
          <mat-icon style="color: green;">call</mat-icon>
          <mat-icon style="color: blue;">person</mat-icon>
          <mat-icon style="color: orange;">info</mat-icon>
          <mat-icon style="color: blue;">edit</mat-icon>
          <mat-icon style="color: red;">delete</mat-icon>
          </td>
          </tr>
          
          <tr >
          <td class="text-secondary-d2 pl-2 pl-lg-4">
          <img alt="Jim Doe's avatar" src="assets/image/avatar/avatar6.jpg"
          class="radius-round border-2 p-2px brc-default-m1 mr-2 w-5 h-5" />
          Dr. Jim Doe
          </td>
          
          <td class="text-secondary text-85 font-bolder text-center align-middle">
          Gen Surgeon
          </td>
          
          <td class="text-grey-m1 text-85 text-center align-middle">
          London
          </td>
          
          <td class="text-85 text-center align-middle">
          <mat-icon style="color: black;">email</mat-icon>
          <mat-icon style="color: green;">call</mat-icon>
          <mat-icon style="color: blue;">person</mat-icon>
          <mat-icon style="color: orange;">info</mat-icon>
          <mat-icon style="color: blue;">edit</mat-icon>
          <mat-icon style="color: red;">delete</mat-icon>
          </td>
          </tr>
          
          <tr>
          <td class="text-secondary-d2 pl-2 pl-lg-4">
          <img alt="Alex's avatar" src="assets/image/avatar/avatar2.png"
          class="radius-round border-2 p-2px brc-default-m1 mr-2 w-5 h-5" />
          Dr. Alex
          </td>
          
          <td class="text-secondary text-85 font-bolder text-center align-middle">
          Dermatologist
          </td>
          
          <td class="text-grey-m1 text-85 text-center align-middle">
          London
          </td>
          
          
          <td class="text-85 text-center align-middle">
          <mat-icon style="color: black;">email</mat-icon>
          <mat-icon style="color: green;">call</mat-icon>
          <mat-icon style="color: blue;">person</mat-icon>
          <mat-icon style="color: orange;">info</mat-icon>
          <mat-icon style="color: blue;">edit</mat-icon>
          <mat-icon style="color: red;">delete</mat-icon>
          </td>
          
          </tr>
          
          <tr>
          <td class="text-secondary-d2 pl-2 pl-lg-4">
          <img alt="Susan's avatar" src="assets/image/avatar/avatar5.jpg"
          class="radius-round border-2 p-2px brc-default-m1 mr-2 w-5 h-5" />
          Dr. Susan
          </td>
          
          <td class="text-secondary text-85 font-bolder text-center align-middle">
          Dermatologist
          </td>
          
          <td class="text-grey-m1 text-85 text-center align-middle">
          London
          </td>
          
          
          <td class="text-85 text-center align-middle">
          <mat-icon style="color: black;">email</mat-icon>
          <mat-icon style="color: green;">call</mat-icon>
          <mat-icon style="color: blue;">person</mat-icon>
          <mat-icon style="color: orange;">info</mat-icon>
          <mat-icon style="color: blue;">edit</mat-icon>
          <mat-icon style="color: red;">delete</mat-icon>
          </td>
          
          </tr>
          </tbody>
          </table>
          </div><!-- /.table-responsive-md -->
          
          </div><!-- /.card-body -->
          </div><!-- /.card -->
          </div>
          <!-- Bootstrap table ends here -->
          
          </div>
          </div>
      </div>

      


      <div class="row mt-45">
        <!-- Task OverView -->
        
        <div class="col-lg-6 col-12 pr-lg-0 mt-3 mt-lg-0 p-0">
        <div class="bgc-white shadow-sm radius-2 pt-35 px-0 px-lg-4">
        <div class="d-flex mb-2">
        <h4 class="text-secondary-d1 text-120 px-3 px-lg-0">
        Task Overview
        </h4>
        </div>
        
        <div class="card border-0">
        <div class="card-body px-0 px-sm-1 px-lg-0 border-t-1 brc-default-l3 table-responsive-sm">
        <table class="table brc-grey-l4 mb-2">
        <thead class="bgc-transparent">
        <tr>
        <th class="border-0 text-secondary-m2">
        Title
        </th>
        <!-- <th class="border-0 text-secondary-m2">
        Status
        </th> -->
        <th class="border-0 text-secondary-m2">
        Progress
        </th>
        </tr>
        </thead>
        
        <tbody>
        
        <tr class="bgc-h-default-l4" role="button">
        <td class="text-dark-tp3 text-95">
        Perform analysis
        </td>
        <!-- <td>
        <span class="badge text-80 border-l-3 brc-black-tp8 bgc-green text-white">complete</span>
        
        
        
        </td> -->
        <td class="text-dark-m1 w-6">
          <div class="align-self-center pos-rel">
            <circle-progress
              [percent]="80"
              [radius]="25"
              [outerStrokeWidth]="4"
              [innerStrokeWidth]="0"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="300"
              [showSubtitle]="false"
            ></circle-progress>
          </div>
          </td>
        </tr>
        
        <tr class="bgc-h-default-l4" role="button">
        <td class="text-dark-tp3 text-95">
        Responsiveness
        </td>
        <td class="text-dark-m1 w-6">
          <div class="align-self-center pos-rel">
            <circle-progress
              [percent]="67"
              [radius]="25"
              [outerStrokeWidth]="4"
              [innerStrokeWidth]="0"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="300"
              [showSubtitle]="false"
            ></circle-progress>
          </div>
          </td>
        </tr>

        <tr class="bgc-h-default-l4" role="button">
          <td class="text-dark-tp3 text-95">
          Report
          </td>
          <td class="text-dark-m1 w-6">
            <div class="align-self-center pos-rel">
              <circle-progress
                [percent]="70"
                [radius]="25"
                [outerStrokeWidth]="4"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
              ></circle-progress>
            </div>
            </td>
          </tr>
                  
        
        </tbody>
        </table>
        </div>
        </div>
        </div>
        </div>

        <!-- Activity feed -->
        <div class="col-lg-6 col-12 pr-lg-0 mt-3 mt-lg-0 " style="padding-right:10px !important">
          <div class="card bcard h-100">
            <div class="border-t-3 w-100 brc-success-m1 radius-t-1"></div>

            <div class="card-header border-0">
              <h5 class="card-title text-grey-d1 pl-1">
                Activity Feed
                <span class="badge btn-light-success text-success float-right font-bolder">
                  +3
              </span>
              </h5>
            </div>

            <div class="card-body p-3 d-flex flex-column h-100">
              <div class="flex-grow-1">

                <div class="mb-2 text-grey-m1 text-95">
                  <div class="d-flex align-items-start">
                    <span class="d-inline-block w-5 h-5 text-center pt-2 radius-round mr-2px bgc-primary-l3 text-primary-d1 font-bolder text-90">
                                  <span>
                                      SD
                                  </span>
                    </span>

                    <div class="mx-2 text-grey-d1">
                      <div class="text-600 text-blue-d1">
                        Susan Dalek
                      </div>
                      Uploaded a new photo
                    </div>

                    <span class="text-90 text-secondary-m1 ml-auto text-nowrap">
                              3 min ago
                          </span>
                  </div>
                </div>

                <hr class="brc-grey-l3">
                <div class="mb-2 text-grey-m1 text-95">
                  <div class="d-flex align-items-start">
                    <img alt="River Song's avatar" src="assets/image/avatar/avatar3.png" class="border-2 brc-success-m2 radius-round p-1px w-5 h-5 mr-2px">

                    <div class="mx-2 text-grey-d1">
                      <div class="text-600 text-blue-d1">
                        River Song
                      </div>
                      Reviewed a product
                    </div>

                    <span class="text-90 text-secondary-m1 ml-auto text-nowrap">
                              4 min ago
                          </span>
                  </div>
                </div>

                <hr class="brc-grey-l3">
                <div class="mb-2 text-grey-m1 text-95">
                  <div class="d-flex align-items-start">
                    <img alt="Jack Alien's avatar" src="assets/image/avatar/avatar4.png" class="border-2 brc-success-m2 radius-round p-1px w-5 h-5 mr-2px">

                    <div class="mx-2 text-grey-d1">
                      <div class="text-600 text-blue-d1">
                        Jack Alien
                      </div>
                      Won a trophy
                    </div>

                    <span class="text-90 text-secondary-m1 ml-auto text-nowrap">
                              20 min ago
                          </span>
                  </div>
                </div>

                <hr class="brc-grey-l3">
                <div class="mb-2 text-grey-m1 text-95">
                  <div class="d-flex align-items-start">
                    <img alt="Robin Hood's avatar" src="assets/image/avatar/avatar5.png" class="border-2 brc-success-m2 radius-round p-1px w-5 h-5 mr-2px">

                    <div class="mx-2 text-grey-d1">
                      <div class="text-600 text-blue-d1">
                        Robin Hood
                      </div>
                      Upgraded his membership plan
                    </div>

                    <span class="text-90 text-secondary-m1 ml-auto text-nowrap">
                              1 hour ago
                          </span>
                  </div>
                </div>



              </div>

              <div class="mt-2 px-4 border-t-1 brc-default-l3 pt-3">
                <button type="button" class="btn btn-block btn-sm border-2 btn-lighter-default btn-h-light-primary btn-a-light-primary">
                  View All
                </button>
              </div>
            </div><!-- /.card-body -->
          </div>
        </div>

        </div>

    </div>

    <footer class="footer">
      <div class="footer-inner">
        <div class="h-100 pt-3 border-t-1 brc-secondary-l2 bgc-white-tp1 shadow-md">
          <span class="text-primary-m1 font-bolder text-120">CVO</span>
          <span class="text-secondary-d2">Pro &copy; 2021</span>

          <span class="mx-3 action-buttons">
                <a href="#" class="text-blue-m2 text-140"><i class="fab fa-twitter-square"></i></a>
                <a href="#" class="text-blue-d2 text-140"><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-orange-d1 text-140"><i class="fa fa-rss-square"></i></a>
              </span>
        </div>
      </div><!-- .footer-inner -->
    </footer>

    <div class="footer-tools">
      <a href="#" class="btn-scroll-up btn btn-green px-25 py-2 text-95 radius-1 mb-2 mr-2">
        <i class="fa fa-angle-double-up w-2 h-2"></i>
      </a>
    </div>
  </div>

</div>