/* tr.mat-header-row{
    background-color: royalblue;
}

th.mat-header-cell {
    color:white;
    text-align: center !important;
}

mat-header-cell,
mat-cell {
    justify-content: center;
} */

.avatar{
    height:40px;
    width:40px;
    margin-right: 5px;
}

 tr.mat-header-row {
     background-color: #2573b3 !important;
     
 }

 td.mat-cell{
     text-align: center;
     
 }

 th.mat-header-cell{
     text-align: center;
     font-size: 14px;
     color:white
 }

table {
    width: 100%;
}

tr.grid-detail-row {
    height: 0;
}

tr.grid-element-row:not(.grid-expanded-row):hover {
    background: whitesmoke;
}

tr.grid-element-row:not(.grid-expanded-row):active {
    background: #efefef;
}

.grid-element-row td {
    border-bottom-width: 0;
}

.grid-element-detail {
    overflow: hidden;
    background-color: #fff;
    padding: 0px 10px;
}


.custom-table table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
  }
  .custom-table th, td {
    padding: 8px;
    text-align: center;
  }

  .custom-table .name-col{
      min-width: 200px;
      max-width: 100%;
      text-align: center;
      vertical-align: middle;
  }
.custom-table > .desktop {
    visibility: visible;
    display: inline-table;
}
.custom-table > .mobile {
    visibility: hidden;
    display: none;
}

.custom-table .desktop tr th {
    background-color: #12ABE4;
    color:white
}

.custom-table .mobile tr th {
    background-color: #12ABE4;
    color: white
}
  @media only screen and (max-width: 600px) {
    .custom-table > .desktop {
        visibility: hidden;
        display: none;
    }
    .custom-table > .mobile {
        visibility: visible;
        display: inline-table;
    }
  }